@import url('variables.css');


body{
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 92L18.8 90.7C37.7 89.3 75.3 86.7 112.8 86C150.3 85.3 187.7 86.7 225.2 88.3C262.7 90 300.3 92 337.8 92C375.3 92 412.7 90 450.2 90C487.7 90 525.3 92 562.8 90C600.3 88 637.7 82 675.2 80.8C712.7 79.7 750.3 83.3 787.8 85.5C825.3 87.7 862.7 88.3 881.3 88.7L900 89L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23fcfaff'%3E%3C/path%3E%3Cpath d='M0 70L18.8 69C37.7 68 75.3 66 112.8 66.7C150.3 67.3 187.7 70.7 225.2 71.5C262.7 72.3 300.3 70.7 337.8 68.3C375.3 66 412.7 63 450.2 60.2C487.7 57.3 525.3 54.7 562.8 56.8C600.3 59 637.7 66 675.2 67.8C712.7 69.7 750.3 66.3 787.8 65C825.3 63.7 862.7 64.3 881.3 64.7L900 65L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23dcd6ec'%3E%3C/path%3E%3Cpath d='M0 39L18.8 41.3C37.7 43.7 75.3 48.3 112.8 48.7C150.3 49 187.7 45 225.2 45C262.7 45 300.3 49 337.8 49C375.3 49 412.7 45 450.2 42.5C487.7 40 525.3 39 562.8 39.5C600.3 40 637.7 42 675.2 41.2C712.7 40.3 750.3 36.7 787.8 35.2C825.3 33.7 862.7 34.3 881.3 34.7L900 35L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23b9b3da'%3E%3C/path%3E%3Cpath d='M0 18L18.8 17.5C37.7 17 75.3 16 112.8 16.7C150.3 17.3 187.7 19.7 225.2 20.5C262.7 21.3 300.3 20.7 337.8 20.8C375.3 21 412.7 22 450.2 23.7C487.7 25.3 525.3 27.7 562.8 28C600.3 28.3 637.7 26.7 675.2 27C712.7 27.3 750.3 29.7 787.8 28.2C825.3 26.7 862.7 21.3 881.3 18.7L900 16L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%239393c9'%3E%3C/path%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 0px  -3vh;

    padding-bottom: 5%;

    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
    word-wrap: break-word ;
    background-color: var(--background-color)!important;
}


.nav-button {
    height: auto;
    width: 130px;
    border-radius: 16px !important;
    background-color: var(--background-color) !important;
    font-size: large !important;
    font-weight: 800 !important;
}


.underline-anim {
    display: inline-block;
    position: relative;
  }
  
.underline-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}
  
.btn:hover .underline-anim::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


#NavButtonsContainer {

    border-radius: 32px;
    padding: 8px;
    max-width: 600px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}



@media (max-width: 768px) {
    #NavButtonsContainer {
        max-width: min-content;
        padding: 8px;
        top: 2px;
    }

    .nav-button {
        width: 100px;
        height: 30px; 
        font-size: small!important;
        margin: -5px;
    }
    .navbar-nav {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr); 
     
    }
}



.portfolio-box {

    border-radius: 8px;
    padding: 40px; 
    margin-top: 80px;
    color: var(--text-color);
    position: relative;
}


.portfolio-box .text {
    word-wrap: break-word;
    
}

.portfolio-box .image {
    position: absolute;
    top: 20px; 
    right: 60px; 
}

.portfolio-box .image img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    
}


@media (max-width: 1400px) {
    .portfolio-box .image img {
        max-width: 100px;
        max-height: 100px;
    }
    .portfolio-box .image {
        position: absolute;
        top: 20px; 
        right: 20px; 
    }
    
}


@media (max-width: 1200px) {
    .portfolio-box .image img {
        visibility: hidden;
        display: none;
    }
}

.compact-box {
    border-radius: 8px;
    padding: 20px; 
    color: var(--text-color);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */

}

.compact-image img {
    width: 150px; 
    height: 150px;
    border-radius: 8px;
    object-fit: scale-down; 
}

.compact-text {
    flex: 1;
    word-wrap: break-word;
    padding-right: 30px; 
}

.projeButton{
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: #00008b;
    transition: all 500ms;

}
.projeButton:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 250ms;

}
.projeButton:hover::after{
    transition: all 500ms;
}




@media (max-width: 1400px) {
    .compact-image img {
        width: 100px; 
        height: 100px;
        object-fit: scale-down; 
    }
}

@media (max-width: 768px){
    .compact-image {
        display: none;
    }
    .compact-button{
        width: 100%;
        margin-top: 10px;
    }
    .compact-box {
        flex-direction: column;
        align-items: flex-start;
    }
    body {
        background-size: auto; 
        background-position: top center; 
    }
    
}




.side-box{
    line-height: clamp(0.3rem, calc(1rem + 2vw), 25px)!important;
    font-size: clamp(0.3rem, calc(0.3rem + 2vw), 1.1rem)!important;
}



.iframe-container {
    width: 100%;
    height: min(75vh, 770px)!important;
    aspect-ratio: 0.9737!important; 
    margin: 0 auto; 
}

.card-img-top {
    width: 100%;
    max-height: 250px; 
    object-fit: scale-down; 
    display: block;
    margin: 0 auto; 
}


#home-left-box {
    margin-top: 100px;
}

#home-right-box {
    margin-top: 200%;;
}    

@media (max-width: 991.5px){
    #home-left-box {
        margin-top: 10px;
    }
    #home-right-box {
        margin-top: 10px;
    }    
    
}



.side-anim {
    display: inline-block;
    position: relative;
  }
  
.side-anim::after {
    content: '';
    position: absolute;
    width: 4px;
    transform: scaleY(0);
    height: 90%;
    top: 0;
    left: -20px;
    background-color: gold;
    transition: transform 1s ease-out;

}

.animated::after {
    transform: scaleY(1); 
    transform-origin: top center;
}

.header-with-line {
    position: relative; 
    display: inline-block; 
    padding-left: 40px; 
}

.header-with-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(1);
    width: 30px; 
    height: 4px; 
    background-color: gold; 
    border-radius: 2px; 
    transition: all 0.3s ease; 
}



.compact-box:hover .header-with-line::before{
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    transform: translateY(-50%) scaleX(1);
}