@import url('variables.css');


body{
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 92L18.8 90.7C37.7 89.3 75.3 86.7 112.8 86C150.3 85.3 187.7 86.7 225.2 88.3C262.7 90 300.3 92 337.8 92C375.3 92 412.7 90 450.2 90C487.7 90 525.3 92 562.8 90C600.3 88 637.7 82 675.2 80.8C712.7 79.7 750.3 83.3 787.8 85.5C825.3 87.7 862.7 88.3 881.3 88.7L900 89L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23fcfaff'%3E%3C/path%3E%3Cpath d='M0 70L18.8 69C37.7 68 75.3 66 112.8 66.7C150.3 67.3 187.7 70.7 225.2 71.5C262.7 72.3 300.3 70.7 337.8 68.3C375.3 66 412.7 63 450.2 60.2C487.7 57.3 525.3 54.7 562.8 56.8C600.3 59 637.7 66 675.2 67.8C712.7 69.7 750.3 66.3 787.8 65C825.3 63.7 862.7 64.3 881.3 64.7L900 65L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23dcd6ec'%3E%3C/path%3E%3Cpath d='M0 39L18.8 41.3C37.7 43.7 75.3 48.3 112.8 48.7C150.3 49 187.7 45 225.2 45C262.7 45 300.3 49 337.8 49C375.3 49 412.7 45 450.2 42.5C487.7 40 525.3 39 562.8 39.5C600.3 40 637.7 42 675.2 41.2C712.7 40.3 750.3 36.7 787.8 35.2C825.3 33.7 862.7 34.3 881.3 34.7L900 35L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%23b9b3da'%3E%3C/path%3E%3Cpath d='M0 18L18.8 17.5C37.7 17 75.3 16 112.8 16.7C150.3 17.3 187.7 19.7 225.2 20.5C262.7 21.3 300.3 20.7 337.8 20.8C375.3 21 412.7 22 450.2 23.7C487.7 25.3 525.3 27.7 562.8 28C600.3 28.3 637.7 26.7 675.2 27C712.7 27.3 750.3 29.7 787.8 28.2C825.3 26.7 862.7 21.3 881.3 18.7L900 16L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z' fill='%239393c9'%3E%3C/path%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    background-attachment: scroll;


    /* padding-bottom: 5%; */

    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
    word-wrap: break-word ;
    background-color: var(--background-color)!important;
}

footer {
    position: relative;
    z-index: 10;
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    /* width: 100%; */
    size: 100% auto;
}

.nav-button {
    height: auto;
    width: 130px;
    border-radius: 16px !important;
    background-color: var(--background-color) !important;
    font-size: large !important;
    font-weight: 800 !important;
}


.underline-anim {
    display: inline-block;
    position: relative;
  }
  
.underline-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}
  
.btn:hover .underline-anim::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


#NavButtonsContainer {

    border-radius: 32px;
    padding: 8px;
    max-width: 600px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}



@media (max-width: 768px) {
    #NavButtonsContainer {
        max-width: min-content;
        padding: 8px;
        top: 2px;
    }

    .nav-button {
        width: 100px;
        height: 30px; 
        font-size: small!important;
        margin: -5px;
    }
    .navbar-nav {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr); 
     
    }
}



.portfolio-box {

    border-radius: 8px;
    padding: 40px; 
    margin-top: 80px;
    color: var(--text-color);
    position: relative;
}


.portfolio-box .text {
    word-wrap: break-word;
    
}

.portfolio-box .image {
    position: absolute;
    top: 20px; 
    right: 60px; 
}

.portfolio-box .image img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    
}


@media (max-width: 1400px) {
    .portfolio-box .image img {
        max-width: 100px;
        max-height: 100px;
    }
    .portfolio-box .image {
        position: absolute;
        top: 20px; 
        right: 20px; 
    }
    
}


@media (max-width: 1200px) {
    .portfolio-box .image img {
        visibility: hidden;
        display: none;
    }
}

.compact-box {
    border-radius: 8px;
    padding: 20px; 
    color: var(--text-color);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */

}

.compact-image img {
    width: 150px; 
    height: 150px;
    border-radius: 8px;
    object-fit: scale-down; 
}

.compact-text {
    flex: 1;
    word-wrap: break-word;
    padding-right: 30px; 
}

.projeButton{
    color: darkblue;
    transition: all 500ms;

}

.box-link:hover .projeButton{
    color: red;
    transition: all 250ms;
}

.projeButton:hover::after{
    transition: all 500ms;
}

.box-link{
    text-decoration: none;
}



@media (max-width: 1400px) {
    .compact-image img {
        width: 100px; 
        height: 100px;
        object-fit: scale-down; 
    }
}

@media (max-width: 768px){
    .compact-image {
        display: none;
    }
    .compact-button{
        width: 100%;
        margin-top: 10px;
    }
    .compact-box {
        flex-direction: column;
        align-items: flex-start;
    }
    body {
        background-size: auto; 
        background-position: top center; 
    }
    
}




.side-box{
    line-height: clamp(0.3rem, calc(1rem + 2vw), 25px)!important;
    font-size: clamp(0.3rem, calc(0.3rem + 2vw), 1.1rem)!important;
}



.iframe-container {
    width: 100%;
    height: min(75vh, 770px)!important;
    aspect-ratio: 0.9737!important; 
    margin: 0 auto; 
}

.card-img-top {
    width: 100%;
    max-height: 250px; 
    object-fit: scale-down; 
    display: block;
    margin: 0 auto; 
}


#home-left-box {
    margin-top: 100px;
}

#home-right-box {
    margin-top: 200%;;
}    

@media (max-width: 991.5px){
    #home-left-box {
        margin-top: 10px;
    }
    #home-right-box {
        margin-top: 10px;
    }    
    
}



.side-anim {
    display: inline-block;
    position: relative;
  }
  
.side-anim::after {
    content: '';
    position: absolute;
    width: 4px;
    transform: scaleY(0);
    height: 100%;
    top: 0;
    left: -20px;
    background-color: gold;
    transition: transform 1s ease-out;
}

.animated::after {
    transform: scaleY(1); 
    transform-origin: top center;
}

.header-with-line {
    position: relative; 
    display: inline-block; 
    padding-left: 40px; 
}

.header-with-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(1);
    width: 30px; 
    height: 4px; 
    background-color: gold; 
    border-radius: 2px; 
    transition: all 0.3s ease; 
}



.compact-box:hover .header-with-line::before{
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    transform: translateY(-50%) scaleX(1);
}

.ic-github{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg enable-background='new -1163 1657.697 56.693 56.693' height='56.693px' id='Layer_1' version='1.1' viewBox='-1163 1657.697 56.693 56.693' width='56.693px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath clip-rule='evenodd' d='M-1134.6598,1662.9163c-13.601,0-24.63,11.0267-24.63,24.6299 c0,10.8821,7.0573,20.1144,16.8435,23.3713c1.2308,0.2279,1.6829-0.5345,1.6829-1.1849c0-0.587-0.0227-2.5276-0.0334-4.5857 c-6.8521,1.4901-8.2979-2.906-8.2979-2.906c-1.1205-2.8467-2.7347-3.6039-2.7347-3.6039 c-2.2349-1.5287,0.1685-1.4972,0.1685-1.4972c2.473,0.1737,3.7755,2.5385,3.7755,2.5385c2.1967,3.7651,5.7618,2.6765,7.1675,2.0472 c0.2211-1.5917,0.8591-2.6786,1.5637-3.2936c-5.4707-0.6226-11.2218-2.7347-11.2218-12.1722c0-2.6888,0.9623-4.8861,2.538-6.611 c-0.2557-0.6206-1.0989-3.1255,0.2386-6.5183c0,0,2.0684-0.6616,6.7747,2.525c1.9648-0.5458,4.0719-0.8195,6.165-0.829 c2.093,0.0095,4.2017,0.2832,6.17,0.829c4.7012-3.1866,6.7665-2.525,6.7665-2.525c1.3406,3.3928,0.4974,5.8977,0.2417,6.5183 c1.5793,1.7249,2.5348,3.9221,2.5348,6.611c0,9.4602-5.7618,11.5428-11.2465,12.1527c0.8834,0.7644,1.6704,2.2632,1.6704,4.561 c0,3.2955-0.0282,5.9479-0.0282,6.7592c0,0.6556,0.4432,1.4236,1.6915,1.1818c9.7812-3.2605,16.8296-12.4896,16.8296-23.3682 C-1110.0299,1673.943-1121.0574,1662.9163-1134.6598,1662.9163z' fill-rule='evenodd'/%3E%3Cpath d='M-1149.9611,1698.2793c-0.0542,0.1227-0.2469,0.1593-0.4222,0.0753c-0.1788-0.0804-0.2788-0.2473-0.2211-0.37 c0.053-0.126,0.2457-0.161,0.4242-0.0769C-1150.0013,1697.9882-1149.8993,1698.1566-1149.9611,1698.2793L-1149.9611,1698.2793z M-1150.2642,1698.0547'/%3E%3Cpath d='M-1148.9634,1699.3922c-0.1174,0.1086-0.3473,0.0581-0.5031-0.1139c-0.1613-0.1718-0.1912-0.4016-0.072-0.5118 c0.1211-0.1088,0.3438-0.0579,0.505,0.1139C-1148.8721,1699.0541-1148.8407,1699.2819-1148.9634,1699.3922L-1148.9634,1699.3922z M-1149.1984,1699.14'/%3E%3Cpath d='M-1147.9922,1700.8105c-0.151,0.1051-0.3979,0.0067-0.5505-0.2123c-0.151-0.2191-0.151-0.4819,0.0035-0.5872 c0.1526-0.1051,0.396-0.0104,0.5505,0.2068C-1147.8381,1700.4406-1147.8381,1700.7034-1147.9922,1700.8105L-1147.9922,1700.8105z M-1147.9922,1700.8105'/%3E%3Cpath d='M-1146.6619,1702.1812c-0.1351,0.1489-0.4227,0.1086-0.6329-0.0945c-0.2155-0.1984-0.2753-0.4803-0.1403-0.6293 c0.1371-0.149,0.4263-0.1072,0.6381,0.0944C-1146.5831,1701.7501-1146.5182,1702.0337-1146.6619,1702.1812L-1146.6619,1702.1812z M-1146.6619,1702.1812'/%3E%3Cpath d='M-1144.8265,1702.9769c-0.0597,0.1927-0.3365,0.2804-0.6154,0.1984c-0.2788-0.0845-0.4608-0.3103-0.4047-0.5051 c0.0577-0.1943,0.3361-0.2855,0.6169-0.1979C-1144.9512,1702.5563-1144.7688,1702.7805-1144.8265,1702.9769L-1144.8265,1702.9769z M-1144.8265,1702.9769'/%3E%3Cpath d='M-1142.8107,1703.1243c0.0067,0.2031-0.2299,0.3716-0.5226,0.3752c-0.2944,0.0067-0.533-0.1577-0.5361-0.3577 c0-0.2052,0.2313-0.3717,0.5258-0.3768C-1143.0509,1702.7594-1142.8107,1702.9227-1142.8107,1703.1243L-1142.8107,1703.1243z M-1142.8107,1703.1243'/%3E%3Cpath d='M-1140.9351,1702.8052c0.035,0.198-0.1686,0.4015-0.4594,0.4557c-0.2859,0.0526-0.5504-0.0701-0.587-0.2665 c-0.0354-0.2031,0.1716-0.4066,0.4573-0.4592C-1141.233,1702.4846-1140.9722,1702.6036-1140.9351,1702.8052L-1140.9351,1702.8052z M-1140.9351,1702.8052'/%3E%3C/g%3E%3C/svg%3E");
}

.ic-linkedin{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 512 512' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm-80.037,399.871l0,-199.921l-66.464,0l0,199.921l66.464,0Zm239.62,0l0,-114.646c0,-61.409 -32.787,-89.976 -76.509,-89.976c-35.255,0 -51.047,19.389 -59.889,33.007l0,-28.306l-66.447,0c0.881,18.757 0,199.921 0,199.921l66.446,0l0,-111.65c0,-5.976 0.43,-11.95 2.191,-16.221c4.795,-11.935 15.737,-24.299 34.095,-24.299c24.034,0 33.663,18.34 33.663,45.204l0,106.966l66.45,0Zm-272.403,-296.321c-22.74,0 -37.597,14.95 -37.597,34.545c0,19.182 14.405,34.544 36.717,34.544l0.429,0c23.175,0 37.6,-15.362 37.6,-34.544c-0.43,-19.595 -14.424,-34.545 -37.149,-34.545Z'/%3E%3C/svg%3E");
}

.ic-itchio{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='235.452' width='261.728' viewBox='0 0 245.371 220.736'%3E%3Cpath d='M31.99 1.365C21.287 7.72.2 31.945 0 38.298v10.516C0 62.144 12.46 73.86 23.773 73.86c13.584 0 24.902-11.258 24.903-24.62 0 13.362 10.93 24.62 24.515 24.62 13.586 0 24.165-11.258 24.165-24.62 0 13.362 11.622 24.62 25.207 24.62h.246c13.586 0 25.208-11.258 25.208-24.62 0 13.362 10.58 24.62 24.164 24.62 13.585 0 24.515-11.258 24.515-24.62 0 13.362 11.32 24.62 24.903 24.62 11.313 0 23.773-11.714 23.773-25.046V38.298c-.2-6.354-21.287-30.58-31.988-36.933C180.118.197 157.056-.005 122.685 0c-34.37.003-81.228.54-90.697 1.365zm65.194 66.217a28.025 28.025 0 0 1-4.78 6.155c-5.128 5.014-12.157 8.122-19.906 8.122a28.482 28.482 0 0 1-19.948-8.126c-1.858-1.82-3.27-3.766-4.563-6.032l-.006.004c-1.292 2.27-3.092 4.215-4.954 6.037a28.5 28.5 0 0 1-19.948 8.12c-.934 0-1.906-.258-2.692-.528-1.092 11.372-1.553 22.24-1.716 30.164l-.002.045c-.02 4.024-.04 7.333-.06 11.93.21 23.86-2.363 77.334 10.52 90.473 19.964 4.655 56.7 6.775 93.555 6.788h.006c36.854-.013 73.59-2.133 93.554-6.788 12.883-13.14 10.31-66.614 10.52-90.474-.022-4.596-.04-7.905-.06-11.93l-.003-.045c-.162-7.926-.623-18.793-1.715-30.165-.786.27-1.757.528-2.692.528a28.5 28.5 0 0 1-19.948-8.12c-1.862-1.822-3.662-3.766-4.955-6.037l-.006-.004c-1.294 2.266-2.705 4.213-4.563 6.032a28.48 28.48 0 0 1-19.947 8.125c-7.748 0-14.778-3.11-19.906-8.123a28.025 28.025 0 0 1-4.78-6.155 27.99 27.99 0 0 1-4.736 6.155 28.49 28.49 0 0 1-19.95 8.124c-.27 0-.54-.012-.81-.02h-.007c-.27.008-.54.02-.813.02a28.49 28.49 0 0 1-19.95-8.123 27.992 27.992 0 0 1-4.736-6.155zm-20.486 26.49l-.002.01h.015c8.113.017 15.32 0 24.25 9.746 7.028-.737 14.372-1.105 21.722-1.094h.006c7.35-.01 14.694.357 21.723 1.094 8.93-9.747 16.137-9.73 24.25-9.746h.014l-.002-.01c3.833 0 19.166 0 29.85 30.007L210 165.244c8.504 30.624-2.723 31.373-16.727 31.4-20.768-.773-32.267-15.855-32.267-30.935-11.496 1.884-24.907 2.826-38.318 2.827h-.006c-13.412 0-26.823-.943-38.318-2.827 0 15.08-11.5 30.162-32.267 30.935-14.004-.027-25.23-.775-16.726-31.4L46.85 124.08C57.534 94.073 72.867 94.073 76.7 94.073zm45.985 23.582v.006c-.02.02-21.863 20.08-25.79 27.215l14.304-.573v12.474c0 .584 5.74.346 11.486.08h.006c5.744.266 11.485.504 11.485-.08v-12.474l14.304.573c-3.928-7.135-25.79-27.215-25.79-27.215v-.006l-.003.002z' color='%23000'/%3E%3C/svg%3E");
}

.icons{
    transition: all 0.25s;
}

.icons:hover {
    transform: scale(1.1);
}

