* {
    outline: 3px solid red;
  }


.mainBody{
    color: #f8f9fa;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
    word-wrap: break-word ;
}

.nav-button {
    /* position: fixed;  */

}

